In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
heart_disease = pd.read_csv("heart-disease.csv")

In [3]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
X = heart_disease.drop("target" , axis=1)

In [5]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [6]:
Y = heart_disease["target"]

In [7]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [8]:
clf = RandomForestClassifier()

In [9]:
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [10]:
x_train , x_test, y_train, y_test = train_test_split(X , Y, test_size = 0.2)

In [11]:
clf.fit(x_train,y_train);

In [12]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
54,63,0,2,135,252,0,0,172,0,0.0,2,0,2
272,67,1,0,120,237,0,1,71,0,1.0,1,0,2
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3
55,52,1,1,134,201,0,1,158,0,0.8,2,1,2
201,60,1,0,125,258,0,0,141,1,2.8,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,44,0,2,118,242,0,1,149,0,0.3,1,1,2
213,61,0,0,145,307,0,0,146,1,1.0,1,0,3
134,41,0,1,126,306,0,1,163,0,0.0,2,0,2
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3

In [13]:
y_train

54     1
272    0
270    0
55     1
201    0
      ..
146    1
213    0
134    1
22     1
293    0
Name: target, Length: 242, dtype: int64

In [14]:
y_preds = clf.predict(x_test)
y_preds

array([0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0], dtype=int64)

In [15]:
y_test

209    0
18     1
57     1
42     1
75     1
      ..
53     1
90     1
183    0
164    1
301    0
Name: target, Length: 61, dtype: int64

In [16]:
clf.score(x_train,y_train)

1.0

In [17]:
clf.score(x_test,y_test)

0.8360655737704918

In [18]:
import numpy as np

In [19]:
np.random.seed(42)
for i in range (10 , 100 , 10):
    print(f"Trying model with {i} estimator...")
    clf  = RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f"Model accuracy on test set:{clf.score(x_test,y_test) * 100:.2f} % ")
    print(" ")

Trying model with 10 estimator...
Model accuracy on test set:81.97 %

Trying model with 20 estimator...
Model accuracy on test set:83.61 %

Trying model with 30 estimator...
Model accuracy on test set:83.61 %

Trying model with 40 estimator...
Model accuracy on test set:81.97 %

Trying model with 50 estimator...
Model accuracy on test set:83.61 %

Trying model with 60 estimator...
Model accuracy on test set:83.61 %

Trying model with 70 estimator...
Model accuracy on test set:83.61 %

Trying model with 80 estimator...
Model accuracy on test set:85.25 %

Trying model with 90 estimator...
Model accuracy on test set:85.25 %

In [20]:
import pickle

pickle.dump(clf, open("Random_forest_model.pkl", "wb"))

In [21]:
load_model = pickle.load(open("Random_forest_model.pkl", "rb"))

load_model.score(x_test,y_test)

0.8524590163934426

In [22]:
clf.predict(x_test)

array([0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0], dtype=int64)

In [23]:
y_preds = clf.predict(x_test)

In [25]:
np.mean(y_preds == y_test)

0.8524590163934426

In [26]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_preds)

0.8524590163934426